<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<title>| App Semear |</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/"> <img
					src="/imagens/logoSemear.png" alt="Logo da Igreja"
					style="width: 105px; height: 30px;">
				</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="louvoresDropdown"
							role="button" data-bs-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> Louvor </a>
							<div class="dropdown-menu" aria-labelledby="louvoresDropdown">
								<a class="dropdown-item" href="/louvores">Lista de louvores</a>
								<a class="dropdown-item" href="/grupos-musicas">Grupos de
									louvores</a>
							</div></li>
						<li class="nav-item"><a class="nav-link" href="/visitantes">
								Visitantes </a></li>
						<li class="nav-item"><a class="nav-link" href="/"> Avisos
						</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="financeiroDropdown"
							role="button" data-bs-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> Financeiro </a>
							<div class="dropdown-menu" aria-labelledby="financeiroDropdown">
								<a class="dropdown-item" href="/cadastro-transacao-saida">Cadastro
									de Saídas</a><a class="dropdown-item"
									href="/cadastro-transacao-entrada">Cadastro de Entradas</a> <a
									class="dropdown-item" href="/dashboard">Dashboard</a>
							</div></li>
						<li class="nav-item"><a class="nav-link" href="/logout">Sair
						</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<br>
		<div class="row">
			<div class="col">
				<div class="card-body">
					<button type="button" class="btn btn-success" id="btnCadastrar">
						<i class="fas fa-list"></i> Novo
					</button>
					<div id="formularioContainer" style="display: none;">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="card-header card-title">
										<h3>Cadastrar visitante</h3>
									</div>
									<th:block th:include="mensagem-validacao"></th:block>
									<form method="post" th:action="@{/cadastrarVisitante}">
										<div class="form-group">
											<label for="nome">Nome:</label> <input type="text"
												class="form-control" id="nome" name="nome">
										</div>
										<div class="form-group">
											<label for="congregacao">Congregação:</label> <input
												type="text" class="form-control" id="congregacao"
												name="congregacao">
										</div>
										<br>
										<button type="submit" class="btn btn-success">
											<i class="fas fa-save"></i> Salvar
										</button>

										<button id="btnSairCadastro" type="button"
											class="btn btn-warning">
											<i class="fas fa-sign-out-alt"></i> Sair
										</button>

									</form>
								</div>
							</div>
						</div>
					</div>
					<br> <br>
					<!-- 					<input class="form-control" id="myInput" -->
					<!-- 						type="text" placeholder="Buscar louvor na lista..."> -->
				</div>
			</div>
			<div style="height: 100px;"></div>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="card text-center">
							<div class="card-header card-title">
								<h3>Lista dos visitantes</h3>
							</div>
							<div class="table-responsive">
								<table id="tabelaVisitantes" class="table table-striped">
									<thead>
										<tr>
											<th scope="col" style="width: 40%;">Nome</th>
											<th scope="col" style="width: 40%;">Congregação</th>
											<th scope="col" style="width: 20%;">Data da visita</th>
										</tr>
									</thead>
									<tbody id="myTable">
										<tr th:each="visitante : ${visitantes}">
											<td><span th:text="${visitante.nome}"></span></td>
											<td><span th:text="${visitante.congregacao}"></span></td>
											<td><span th:text="${visitante.data}"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div style="height: 100px;"></div>

		<div class="footer-copyright fixed-bottom bg-dark text-center py-3">
			<span class="text-light align-middle">| Módulo Visitantes |</span>
		</div>

	</div>
	<!--JavaScript bootstrap-->
	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous">
		
	</script>
	<script>
		$(document).ready(
				function() {
					$("#btnCadastrar").on("click", function() {
						$(this).hide();
						$("#formularioContainer").show();
						$("#btnSairCadastro").show();
					});

					$("#btnSairCadastro").on("click", function() {
						$(this).hide();
						$("#formularioContainer").hide();
						$("#btnCadastrar").show();
					});

					$("form").submit(
							function(event) {
								event.preventDefault(); // Evitar o comportamento padrão do formulário

								$.ajax({
									type : "POST",
									url : $(this).attr("action"),
									data : $(this).serialize(),
									success : function(response) {
										console.log(response);

										// Limpar o formulário
										$("form")[0].reset();

										// Ocultar o formulário
										$("#formularioContainer").hide();

										// Exibir o botão "Cadastrar Louvor" novamente
										$("#btnCadastrar").show();

										// Atualizar a tabela de louvores
										// Este código assume que a resposta contém a tabela HTML completa
										$("#tabelaVisitantes").html(
												$(response).find(
														"#tabelaVisitantes")
														.html());
									},
									error : function(error) {
										console.log(error);

										// Exibir mensagem de erro (opcional)
										alert("Erro ao cadastrar visitante");
									}
								});
							});
				});
	</script>


	<script>
		$(document)
				.ready(
						function() {
							$("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>




</body>

</html>