<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Semear</title>
<link rel="icon" type="image/png" href="/imagens/logoSemearSmall.png">
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
	rel="stylesheet" />
<link href="css2/styles.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>
<body>
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<!-- Navbar Brand-->
		<a class="navbar-brand ps-3" href="/"><img
			src="/imagens/logoSemear.png" alt="Logo da Igreja"
			style="width: 105px; height: 30px;"></a>
		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
			id="sidebarToggle" href="#!">
			<i class="fas fa-bars"></i>
		</button>
		<!-- Navbar Search-->
		<form
			class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			<div class="input-group"></div>
		</form>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseLayouts" aria-expanded="false"
							aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon">
								<i class="fas fa-music"></i>
							</div> Louvor
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseLayouts"
							aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="/louvores">
									<div class="sb-nav-link-icon">
										<i class="fas fa-music"></i>
									</div> Lista de Louvores
								</a> <a class="nav-link" href="/grupos-musicas">
									<div class="sb-nav-link-icon">
										<i class="fas fa-users"></i>
									</div> Grupos de Louvores
								</a>
							</nav>
						</div>
						<a class="nav-link" href="/visitantes">
							<div class="sb-nav-link-icon">
								<i class="fas fa-solid fa-street-view"></i>
							</div> Visitantes
						</a> <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseLayout" aria-expanded="false"
							aria-controls="collapseLayout">
							<div class="sb-nav-link-icon">
								<i class="fas fa-money-bill-alt"></i>
							</div> Financeiro
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseLayout"
							aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="/cadastro-transacao-saida">
									<div class="sb-nav-link-icon">
										<i class="fas fa-arrow-down"></i>
									</div> Cadastro de Saídas
								</a> <a class="nav-link" href="/cadastro-transacao-entrada">
									<div class="sb-nav-link-icon">
										<i class="fas fa-arrow-up"></i>
									</div> Cadastro de Entradas
								</a> <a class="nav-link" href="/dashboard">
									<div class="sb-nav-link-icon">
										<i class="fas fa-chart-line"></i>
									</div> Dashboard
								</a>
							</nav>
						</div>
						<a class="nav-link" href="/lista-membros">
							<div class="sb-nav-link-icon">
								<i class="fas fa-users"></i>
							</div> Membros
						</a> <a class="nav-link" href="/lista-aviso">
							<div class="sb-nav-link-icon">
								<i class="fas fa-bullhorn"></i>
							</div> Avisos
						</a>
					</div>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<br>
				<div class="container-fluid px-4">
					<div class="row">
						<div class="col">
							<div class="card-body">
								<div id="cadastroMembroForm" style="display: none;">
									<h2>Formulário de Cadastro de Membro</h2>
									<form action="/cadastrar-membro" method="post">
										<!-- Campos do formulário -->
										<div class="row mb-3">
											<div class="col-md-6">
												<label class="form-label">Nome Completo:</label> <input
													class="form-control" type="text" name="nomeCompleto"
													required>
											</div>
											<div class="col-md-6">
												<label class="form-label">CPF:</label> <input
													class="form-control" id="campoCpf" type="text" name="cpf"
													required>
											</div>
											<div class="col-md-6">
												<label class="form-label">Gênero:</label><br>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio" name="genero"
														id="masculino" value="Masculino"> <label
														class="form-check-label" for="masculino">Masculino</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio" name="genero"
														id="feminino" value="Feminino"> <label
														class="form-check-label" for="feminino">Feminino</label>
												</div>
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-md-6">
												<label class="form-label">Data de Nascimento:</label> <input
													class="form-control" type="text" id="campoData"
													name="dataNascimento">
											</div>
											<div class="col-md-6">
												<label class="form-label">Endereço:</label> <input
													class="form-control" type="text" name="endereco">
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-md-6">
												<label class="form-label">Telefone:</label> <input
													class="form-control" type="text" id="campoTelefone"
													name="telefone" required>
											</div>
											<div class="col-md-6">
												<label class="form-label">Telefone para Emergência:</label>
												<input class="form-control" type="text"
													id="campoTelefoneEmergencia" name="telefoneEmergencia"
													required>
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-md-6">
												<label class="form-label">E-mail:</label> <input
													class="form-control" type="email" name="email">
											</div>
											<div class="col-md-6">
												<label class="form-label">Data de Batismo:</label> <input
													class="form-control" type="text" id="campoDataBatismo"
													name="dataBatismo">
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-md-6">
												<label class="form-label">Cargo/Ministério:</label><br>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														name="cargoMinisterio" id="cargoPastor" value="Pastor">
													<label class="form-check-label" for="cargoPastor">Pastor</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														name="cargoMinisterio" id="cargoPastor" value="Pastor">
													<label class="form-check-label" for="cargoPastor">Co-pastor</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														name="cargoMinisterio" id="cargoMembro" value="Membro">
													<label class="form-check-label" for="cargoMembro">Membro(a)</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														name="cargoMinisterio" id="cargoMinistroLouvor"
														value="Ministro de Louvor"> <label
														class="form-check-label" for="cargoMinistroLouvor">Ministro
														de Louvor</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														name="cargoMinisterio" id="cargoSecretario"
														value="Secretário"> <label
														class="form-check-label" for="cargoSecretario">Secretário(a)</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														name="cargoMinisterio" id="cargoLiderSenhoras"
														value="Líder de Senhoras"> <label
														class="form-check-label" for="cargoLiderSenhoras">Líder
														de Senhoras</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														name="cargoMinisterio" id="cargoLiderCasais"
														value="Líder de Casais"> <label
														class="form-check-label" for="cargoLiderCasais">Líder
														de Casais</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														name="cargoMinisterio" id="cargoADM" value="Administrador">
													<label class="form-check-label" for="cargoADM">Administrador</label>
												</div>
											</div>
											<div class="col-md-6">
												<label class="form-label">Estado Civil:</label><br>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														name="estadoCivil" id="casado" value="Casado(a)">
													<label class="form-check-label" for="casado">Casado(a)</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														name="estadoCivil" id="divorciado" value="Divorciado(a)">
													<label class="form-check-label" for="divorciado">Divorciado(a)</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														name="estadoCivil" id="separado" value="Separado(a)">
													<label class="form-check-label" for="separado">Separado(a)</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														name="estadoCivil" id="solteiro" value="Solteiro(a)">
													<label class="form-check-label" for="solteiro">Solteiro(a)</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														name="estadoCivil" id="viuvo" value="Viuvo(a)"> <label
														class="form-check-label" for="viuvo">Viuvo(a)</label>
												</div>
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-md-12">
												<label class="form-label">Observações:</label>
												<textarea class="form-control" name="observacoes" rows="4"
													cols="50"></textarea>
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-md-6">
												<label class="form-label">Senha</label> <input
													class="form-control" type="password" name="senha">
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-md-12">
												<button class="btn btn-primary" type="submit">Salvar</button>
												<button class="btn btn-secondary" type="button"
													onclick="ocultarFormCadastro()">Sair</button>
											</div>
										</div>
									</form>
								</div>
								<div id="botoesCadastro">
									<button class="btn btn-success" type="button"
										onclick="mostrarFormCadastro()">Incluir Membro</button>
								</div>
								<br> <input class="form-control" id="myInput" type="text"
									placeholder="Buscar membro na lista..."> <br>
							</div>
						</div>
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="card text-center">
										<div class="card-header card-title">
											<h3>Lista de Membros</h3>
										</div>
										<div class="table-responsive">
											<table id="tabelaMembros" class="table table-striped">
												<thead>
													<tr>
														<th>Nome Completo</th>
														<th>Gênero</th>
														<th>Data de Nascimento</th>
														<th>Endereço</th>
														<th>Telefone</th>
														<th>Telefone para Emergência</th>
														<th>E-mail</th>
														<th>Data de Batismo</th>
														<th>Cargo/Ministério</th>
														<th>Estado Civil</th>
														<th>Observações</th>
														<th>Ações</th>
													</tr>
												</thead>
												<tbody id="myTableMembro">
													<tr th:each="membro : ${membro}">
														<td th:text="${membro.nomeCompleto}"></td>
														<td th:text="${membro.genero}"></td>
														<td th:text="${membro.dataNascimento}"></td>
														<td th:text="${membro.endereco}"></td>
														<td th:text="${membro.telefone}"></td>
														<td th:text="${membro.telefoneEmergencia}"></td>
														<td th:text="${membro.email}"></td>
														<td th:text="${membro.dataBatismo}"></td>
														<td th:text="${membro.cargoMinisterio}"></td>
														<td th:text="${membro.estadoCivil}"></td>
														<td th:text="${membro.observacoes}"></td>
														<td><a th:href="@{/remover-membro(id=${membro.id})}"
															class="waves-effect waves-light text-danger"> <i
																class="fas fa-trash-alt fa-lg"></i>
														</a> <a th:href="@{/editar-membro(id=${membro.id})}"
															class="waves-effect waves-light text-primary"> <i
																class="fas fa-edit fa-lg"></i>
														</a></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</main>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="js/scripts-lista-membros.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
		crossorigin="anonymous"></script>
	<script src="assets/demo/chart-area-demo.js"></script>
	<script src="assets/demo/chart-bar-demo.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
		crossorigin="anonymous"></script>
</body>
</html>