<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>| App Semear |</title>

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<!-- Draggable Styles -->
<link rel="stylesheet" href="/draggable-1.0.0-beta.11/css/draggable-styles.css">

<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<style>
.card {
	margin-bottom: 20px;
}

.jumbotron {
	margin-bottom: 30px;
}

.group-card {
	margin-bottom: 30px;
}

.list-container {
	margin-top: 30px;
}

.group-title {
	text-align: center;
}
</style>


<script>
	$(document).ready(function() {
	    // Adiciona um ouvinte de evento de clique a todos os botões de expansão
	    $('.btn-outline-primary').on('click', function() {
	        // Encontre o bloco de detalhes associado usando o atributo data-target
	        var target = $($(this).data('target'));
	
	        // Inverte a visibilidade do bloco de detalhes usando o Bootstrap collapse
	        target.collapse('toggle');
	
	        // Muda automaticamente o ícone do botão Bootstrap de acordo com o estado de expansão
	    });
	});
    $(document).ready(function() {
      // Inicializar Sortable para cada grupo
      for (let i = 1; i <= 8; i++) {
        let groupID = "grupo" + i;
        Sortable.create(document.getElementById(groupID), {
          group: 'louvor-groups',
          draggable: '.list-group-item',
          handle: '.list-group-item',
          sort: true,
          chosenClass: 'active',
          onAdd: function(evt) {
            // Lógica a ser executada quando um item é adicionado ao grupo
            console.log("Item adicionado ao grupo " + i + ": ", evt.item.textContent);
          }
        });
      }

      // Inicializar Sortable para a lista de louvores
      Sortable.create(document.getElementById('lista-louvores'), {
        group: 'louvor-groups',
        draggable: '.list-group-item',
        handle: '.list-group-item',
        sort: true,
        chosenClass: 'active',
        onStart: function(evt) {
          // Lógica a ser executada quando um item é arrastado da lista de louvores
          console.log("Item iniciou o arraste: ", evt.item.textContent);
        }
      });
    });
  </script>

</head>
<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/"> <img src="/imagens/logoSemear.png" alt="Logo da Igreja"
					style="width: 105px; height: 30px;">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"
							id="louvoresDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> Louvor </a>
							<div class="dropdown-menu" aria-labelledby="louvoresDropdown">
								<a class="dropdown-item" href="/louvores">Lista de louvores</a> <a class="dropdown-item"
									href="/grupos-musicas">Grupos de louvores</a>
							</div></li>
						<li class="nav-item"><a class="nav-link" href="/"> Visitantes </a></li>
						<li class="nav-item"><a class="nav-link" href="/"> Avisos </a></li>
						<li class="nav-item"><a class="nav-link" href="/"> Financeiro </a></li>
						<!-- 						// QUADRO DE MEMBROS? -->
						<li class="nav-item"><a class="nav-link" href="/logout">Sair </a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<div class="jumbotron">
			<!-- Lista de louvores -->
			<div class="card">
				<div class="card-body">
					<ul class="list-group" id="lista-louvores">
						<!-- Adicione seus louvores dinamicamente aqui usando Thymeleaf -->
						<li th:each="louvor : ${louvores}" class="list-group-item">
							<div class="d-flex justify-content-between align-items-center">
								<span th:text="${louvor.nome}"></span>
								<button class="btn btn-outline-primary" type="button" data-toggle="collapse"
									th:data-target="'#detalhes-' + ${louvor.id}" aria-expanded="false" aria-controls="detalhes">
									+</button>
							</div>
							<div class="collapse" th:id="'detalhes-' + ${louvor.id}">
								<p>
									Artista: <span th:text="${louvor.artista}"></span>
								</p>
								<p>
									Tonalidade: <span th:text="${louvor.tonalidade}"></span>
								</p>
								<p>
									Andamento: <span th:text="${louvor.andamento}"></span>
								</p>
								<p>
									Tipo de Louvor: <span th:text="${louvor.tipoLouvorEnum}"></span>
								</p>
								<p>
									Link da Versão: <a th:href="${louvor.linkVersao}" target="_blank"
										th:text="${louvor.linkVersao}"> Link da Versão </a>
								</p>
							</div>

						</li>
					</ul>
				</div>
			</div>
		</div>


		<!-- Listas de grupos -->
		<div class="row list-container">
			<div th:each="grupo, grupoIndex : *{louvores}">
				<div class="col-md-3">
					<div class="card group-card">
						<div class="card-body">
							<h3 class="group-title" th:text="${'Grupo ' + (grupoIndex.index + 1)}"></h3>

							<!-- Adicione um formulário para cada grupo -->
							<form th:object="${gruposDeMusicas}" th:action="@{/salvar-grupos-musicas}" method="post">
								<!-- Adicione um campo para o nome do grupo -->
								<label>Nome do Grupo:</label> <input type="text" th:field="*{nome}" />

								<!-- Adicione campos para os louvores em cada grupo -->
								<label>Louvores:</label>
								<div th:each="louvor : ${louvoresDisponiveis}">
									<input type="checkbox" th:field="*{louvores}" th:value="${louvor.id}" /> <label
										th:for="${'louvores-' + louvor.id}" th:text="${louvor.nome}"></label><br />
								</div>

								<!-- Adicione um botão de salvar para cada grupo -->
								<button type="submit" class="btn btn-primary">Salvar</button>
							</form>

							<!-- Detalhes do Grupo -->
							<div class="collapse" th:id="'detalhes-' + ${grupoIndex.index}">
								<!-- Adicione os detalhes do grupo aqui -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>


</html>